.footer {
  background: #E1E9EC;
  color: #2D356C;
}

.footer ul {
  display: flex;
}

.footer ul li {
  list-style: none;
  justify-content: start;
  padding: 5px;
  transition: border 0.2s ease-in-out, border-radius 0.3s ease-in-out;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.footer ul li:hover {
  border-radius: 100%;
  border: 2px solid #2D356C;
}

.footer ul li a {
  color: #2D356C;
}

.lgb {
  letter-spacing: 2px;
}

.zeeko {
  color: #2D356C;
}

.brand-logo {
  mix-blend-mode: multiply;
}